
      .carousel-header svg {
        margin: 0 15px;
        justify-self: flex-end;
        cursor: pointer;
        fill: #2563eb;
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
      }
      .carousel-header svg:hover {
        transform: translateX(3px);
      }
      .carousel-header {
        display: flex;
       justify-content: space-between;
        width: 100%;
      }